{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row mt-5">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper"
            style=" box-shadow: hsl(0, 0%, 80%) 0 0 16px; background-color: #fff; border-radius: 4px; padding: 10px;">
            <h5><strong>Payment Options</strong></h5>
            <hr>
            <button id="confirm" class="btn btn-secondary btn-lg btn-block">Cash On Delivery</button>
            <br>
            <div id="paypal-button-container"></div>
        </div>


    </div>

    <div class="col-lg-6">
        <div class="box-element"
            style=" box-shadow: hsl(0, 0%, 80%) 0 0 16px; background-color: #fff; border-radius: 4px; padding: 10px;">
            <div>
                <a href="/cart" class="btn btn-dark ">Back to Cart</a>
            </div>
            <div class="text-center">
                <p> <strong>Order Summary </strong> </p>
            </div>

            <div>
                <table class="table">
                    <tr>
                        <th>
                            <h5>Items: <strong id="TotalItem"></strong></h5>
                        </th>
                        <th>
                            <h5>Total: <strong id="totalAmount"><strong></h5>
                        </th>

                    </tr>
                </table>
            </div>

            <div class="cart-row"
                style="display: flex; align-items: flex-stretch; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #ececec;">
                <div style="flex: 2;"></div>
                <div style="flex: 2;"> <strong>Item</strong> </div>
                <div style="flex: 2;"><strong>Price</strong></div>
            </div>

            <div id="productList"></div>

        </div>
    </div>
</div>



<script>
    cartList()

    //Returns csrf token
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    function cartList() {
        // url to fetch data of particular order by using order id.
        var url = 'http://127.0.0.1:8000/api/cart/';
        //fetching data from above url
        fetch(url)
            // parse in json
            .then((resp) => resp.json())
            // data = list of product
            .then(function (data) {
                console.log('Data', data);

                var list = data;
                var productList = document.querySelector('#productList');
                var itemCnt = 0;
                var amount = 0;
                for (var i in list) {

                    fetch('http://127.0.0.1:8000/api/product/' + list[i].item + "/")
                        // parse in json
                        .then((resp) => resp.json())
                        // data = list of product
                        .then(function (data) {
                            console.log(data)

                            for (var j in data) {


                                var row = document.createElement('div');
                                row.className = "cart-row";
                                row.style.display = 'flex';
                                row.style.alignItems = 'flex-stretch';
                                row.style.paddingBottom = 10;
                                row.style.marginBottom = 10;
                                productList.append(row);

                                var imgDiv = document.createElement('div');
                                imgDiv.style.flex = 2;
                                row.append(imgDiv);
                                var img = document.createElement('img');
                                img.style.width = '100px';
                                img.src = data[j].image;
                                imgDiv.append(img);

                                var productInfo = document.createElement('div');
                                productInfo.style.flex = 2;
                                row.append(productInfo);
                                var name = document.createElement('p');
                                name.innerHTML = data[j].name;
                                productInfo.append(name);
                                var collection = document.createElement('small');
                                collection.innerHTML = data[j].gender.gender + ' collection';
                                productInfo.append(collection);
                                var size = document.createElement('p');
                                size.innerHTML = 'Size: ' + list[i].Shoesize;
                                productInfo.append(size);


                                var priceDiv = document.createElement('div');
                                priceDiv.style.flex = 2;
                                priceDiv.innerHTML = '$ ' + data[j].price;

                                row.append(priceDiv);

                                var line = document.createElement('hr')
                                productList.append(line);
                                itemCnt++;
                                amount = amount + (data[j].price | 0);

                            }
                            //Display total no. of items in cart.
                            var TotalItem = document.getElementById('TotalItem');
                            TotalItem.innerHTML = itemCnt;
                            var TotalAmount = document.getElementById('totalAmount');
                            TotalAmount.innerHTML = '$' + amount;

                        })

                }
                var confirm = document.getElementById('confirm');
                confirm.addEventListener('click', () => {
                    
                    confirmOrder(document.getElementById('totalAmount').innerHTML);
                });


            })
    }

    function confirmOrder(t) {
        var amount = t.slice(1);
       
        let request = new XMLHttpRequest();
        let data = new FormData();
        data.append('amount', amount)
        const csrftoken = getCookie('csrftoken');
        //Creating object in Order Master Model
        request.open('POST', "http://127.0.0.1:8000/api/confirm/");
        request.setRequestHeader("X-CSRFToken", csrftoken);
        request.send(data)
        request.onload = () => {
            let res = JSON.parse(request.responseText);
            if (res.success) {
               
                let request2 = new XMLHttpRequest();
                let data2 = new FormData();
                data2.append('order', res.masterID)
                const csrftoken = getCookie('csrftoken');
                // Creating object in Order detail Model
                request2.open('POST', "http://127.0.0.1:8000/api/confirm/detail/");
                request2.setRequestHeader("X-CSRFToken", csrftoken);
                request2.send(data2)
                request.onload = () => {
                    let res2 = JSON.parse(request.responseText);
                    if (res2.success === true) {

                    }
                }
            }
            window.location.replace("http://127.0.0.1:8000/myorder/");
        }
    }
</script>

<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>

<script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '0.01'
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                // Show a success message to the buyer
                alert('Transaction completed by ' + details.payer.name.given_name + '!');
            });
        }


    }).render('#paypal-button-container');
</script>
<script type="text/javascript">
    document.querySelector('#brand').style.display = 'none';
    document.querySelector('#category').style.display = 'none';
</script>

{% endblock %}